n8n/fintech-analyzer-workflow.json
{
  "name": "FinTech GenAI Analyzer - Wrapper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fintech-analyze"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ features: $json.body.features }) }}",
        "options": {}
      },
      "id": "http-analyze",
      "name": "Call /analyze API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "summary",
              "type": "string",
              "value": "={{ 'Prediction: ' + ($json.prediction === 1 ? 'Outperformance' : 'Underperformance') + ' (' + (Math.max(...$json.probabilities) * 100).toFixed(1) + '% confidence)\\n\\n' + $json.llm_explanation }}"
            },
            {
              "id": "2",
              "name": "prediction",
              "type": "number",
              "value": "={{ $json.prediction }}"
            },
            {
              "id": "3",
              "name": "shap_summary",
              "type": "string",
              "value": "={{ $json.shap_summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "text": "={{ $json.summary }}",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Slack (optional)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 420],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call /analyze API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call /analyze API": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1"
}
